
.config11,
.configuration {
  position: relative;
  max-width: 100%;
}
.config11 {
  height: 1024px;
  flex: 1;
  overflow: auto;
  object-fit: auto;
}
.configuration {
  width: 360px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.score,
.scoreWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.score {
  border-radius: 72.2px;
  background-color: #417b03;
  border: 5.2px solid var(--color-gray);
  box-sizing: border-box;
  padding: var(--padding-lg) 13px var(--padding-lg) var(--padding-sm);
  max-width: 103%;
}
.scoreWrapper {
  height: 80px;
  width: 387px;
  margin: 0 !important;
  position: absolute;
  top: 90px;
  left: 587px;
  max-width: 100%;
  z-index: 2;
}
.done {
  position: absolute;
  top: 19px;
  left: 97px;
  display: inline-block;
  width: 93px;
  height: 39px;
  min-width: 93px;
  cursor: pointer;
  z-index: 3;
}
.scoreParent {
  height: 78px;
  width: 287px;
  position: absolute;
  margin: 1 !important;
  bottom: 27px;
  left: 630px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.config11Parent {
  position: absolute;
  top: 0;
  left: -67px;
  width: 1575px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 36px;
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 893px;
  left: 1385px;
  width: 140px;
  height: 107.9px;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
}
.vectorIcon1 {
  left: 29px;
}
.main,
.turnDisplayChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.turnDisplayChild {
  top: 0.91px;
  right: 0.7px;
  bottom: 0.09px;
  border-radius: 20px;
  background-color: rgba(200, 228, 64, 0.8);
  z-index: 1;
}
.config,
.hpContainer,
.turnDisplay {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hpContainer {
  flex: 1;
  flex-direction: row;
  gap: 73px;
  min-width: 522px;
  max-width: 100%;
}
.config,
.turnDisplay {
  position: relative;
  box-sizing: border-box;
}
.turnDisplay {
  align-self: stretch;
  flex-direction: row;
  padding: 155px var(--padding-21xl) 95.3px var(--padding-mini);
  gap: 89px;
  max-width: 100%;
}
.config {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 55px 63px 65.7px 69px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .turnDisplay {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .configuration {
    font-size: var(--font-size-10xl);
  }
  .done {
    font-size: var(--font-size-7xl);
  }
  .hpContainer {
    gap: var(--gap-17xl);
    flex-wrap: wrap;
  }
  .turnDisplay {
    padding-top: 101px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .hpContainer {
    min-width: 100%;
  }
  .turnDisplay {
    gap: 44px;
  }
  .config {
    padding-left: 34px;
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .configuration {
    font-size: 22px;
  }
  .done {
    font-size: var(--font-size-lgi);
  }
  .hpContainer {
    gap: var(--gap-lg);
  }
  .turnDisplay {
    gap: 22px;
    padding-top: var(--padding-47xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
}
