.maximumBudget {
  flex: 1;
  position: relative;
  z-index: 2;
}
.maximumBudgetWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 var(--padding-mini);
}
.b4,
.frameChild {
  position: relative;
}
.frameChild {
  height: 114px;
  width: 353px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.b4 {
  flex: 1;
  z-index: 1;
}
.budgetContainer,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  height: 114px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-105xl) var(--padding-13xl);
  z-index: 2;
}
.budgetContainer {
  width: 353px;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.costToSpawn {
  width: 343px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.rectangleGroup {
  height: 114px;
  width: 353px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xl) var(--padding-127xl) var(--padding-13xl);
  z-index: 2;
}
.costToSpawnMinionParent,
.frameParent,
.frameWrapper,
.rectangleGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.costToSpawnMinionParent,
.frameParent {
  flex-direction: column;
}
.costToSpawnMinionParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-24xl);
}
.frameParent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-35xl-5);
  min-width: 242px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .b4,
  .costToSpawn,
  .maximumBudget {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .b4,
  .maximumBudget {
    font-size: var(--font-size-lgi);
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .costToSpawn {
    font-size: var(--font-size-lgi);
  }
  .rectangleGroup {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .costToSpawnMinionParent {
    gap: var(--gap-2xl);
  }
  .frameParent {
    gap: var(--gap-8xl);
  }
}
