.costToPurchase {
  width: 338px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.hexContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.purchaseContainer,
.purchasePairWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.purchasePairWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.purchaseContainer {
  width: 357px;
  flex-direction: column;
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .costToPurchase {
    font-size: var(--font-size-7xl);
  }
  .purchaseContainer {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .purchaseContainer {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .costToPurchase {
    font-size: var(--font-size-lgi);
  }
  .purchaseContainer {
    gap: var(--gap-5xl);
  }
}
